* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
main {
  height: calc(100vh - 90px);
}
footer {
  height: 90px;
  background-color: #24211e;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;
}

/* nav-sinistra */
.nav-sinistra {
  overflow: hidden;
  float: left;
  height: calc(100vh - 90px);
  width: 190px;
  padding-top: 15px;
  background-color: black;
  color: white;
}
.nav-sinistra a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.nav-sinistra img {
  width: 70%;
}
#logolg img {
 padding-left: 5px;
}
#logoxs img {
 display: none;
 padding-left: 5px;
}
/* nav1 */
.nav1 {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.nav1 .link {
  padding-left: 10px;
}
.nav1 .link img {
  width: 30px;
}

.nav1 a {
  padding-left: 15px;
}
.nav1{
  transition: 0.2s;
}
.nav1:hover {
  border-left: solid 3px #1ED760;
}
.nav1 a{
  transition: 0.2s;
}
.nav1:hover a {
  color: rgba(255, 255, 255, 1);
}
/* nav1 */
/* nav2 */
.nav2 {
  padding-top: 50px;
}
.nav2 h4 {
  margin-bottom: 15px;
}
.nav2 span {
  color: black;
  background-color:rgba(255, 255, 255, 0.5);
  font-size: 25px;
  padding: 0 10px;
  transition: 0.2s;
}
.nav2 ul {
  list-style-type: none;
}
.nav2 ul li {
  margin: 7px 0;
  padding-left: 10px;
  transition: 0.2s;
}
.nav2 ul li a{
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  transition: 0.2s;
}
.playlist {
  padding-left: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.playlist a {
  padding-left: 10px;
  transition: 0.2s;
}
.playlist:hover a {
  color: white;
}
.playlist:hover span {
  background-color: white;
}
.scrollplaylist ul {
  height: 200px;
  overflow-y: hidden;
}
.nav2 ul li:hover a {
  color: white;
}
.nav2 ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* nav2 */

.nav3 {
  height: 90px;
  width: 190px;
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 98px;
  z-index: 201;
}

/* installa */
.installa {
  width: 190px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.installa #install  {
  padding-left: 0px;
  display: flex;
  align-items: center;
}
.installa #install img {
  width: 25px;
}
.installa a {
  padding-left: 10px;
  transition: 0.2s;
}
.installa:hover a {
  color: white;
}
/* installa */

 hr {
  width: 170px;
  margin: 1px 10PX;
}

/* user */
.user {
  width: 190px;
  padding: 5px;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.user #us {
  background-color:rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding: 7px 8px;
}
.user #us img {
  width: 30px;

}
.user a {
  padding-left: 10px;
  font-size: 18px;
  color: white
}
.user:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* user */
/* nav-sinistra */


/* parteprinc */
.parteprinc {
  float: left;
  height: 100%;
  width: calc(100% - 190px);
  background-color: #1b1b31;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
}
.parteprinc h2 {
  font-size: 30px;
  padding-left:3%;
  padding-top: 30px;
  padding-bottom: 5px;
}
.parteprinc p {
  font-size: 18px;
  padding-left: 3%;
  color: rgba(255, 255, 255, 0.4);
}
.upgrade {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height:70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4%;
}
.upgrade a{
  color: rgba(255, 255, 255, 0.5);
  border: solid 2px ;
  border-radius: 50px;
  margin-right: 14%;
  font-size: 13px;
  padding: 10px 40px;
  text-decoration: none;
  transition: 0.2s;
}
.upgrade a:hover{
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
/* parteprinc */
/* scelta */
.scegli {
  margin-top: 100px;
  text-align: center;
}
.scegli li {
  display: inline-block;
}
.scegli li a {
  color: #bfbfbf;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  padding-bottom: 3px;
  transition: 0.2s;
}
.scegli li a:hover {
  border-bottom: solid 2px #1ED760;
  color: white;
}
/* scelta */
/* musica */
.row{
  color: #fff;
  margin: 0 2%;
  display: flex;
  flex-wrap: wrap;
}
.copertina{
  width: calc(100% / 6);
  padding: 1%;
  min-width: 200px;
}
.copertina img {
  max-width: 100%;
}
/* overlay */
.imgcopertina {
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
}
.overlay a {
  color: white;
  font-size: 40px;
}
.imgcopertina:hover .overlay {
  display:flex;
}
/* overlay */
/* titoli album */
.copertina h4 {
  text-align: center;
  padding: 10px;
}
.copertina h4 a{
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
.copertina h4 a:hover{
  color: rgba(255, 255, 255, 0.5);
}
/* titoli album */
/* artisti album */
.row .copertina span{
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.row .copertina span a{
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
.row .copertina span a:hover{
  text-decoration: underline;
}
/* artisti album */
/* musica */
/* parteprinc */


/* footer */
/* partetasti */
.partetasti {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pausa {
  display: none;
}
#play {
  z-index: 2;
  font-size: 30px;
}
.tasti {
  padding-top: 10px;
  width:  calc(100% / 8) ;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tasti a {
  padding-right: 8px;
  color: white;
  font-size: 15px;
}
.tasti #ultimotasto {
  padding: 0;
}
.tasti a:hover {
  color: #1ED760;
}
/* partetasti */

/* infobarraevolume */
.infobarraevolume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% ;
  margin: -20px 0px;
}

/* info */
.info {
  display: flex;
  align-items: center;
  width:  calc(100% / 3) ;
}
.minialbum {
  display: flex;
  align-items: center;
  padding-right: 2%;
  padding-left:10px;
}
#playerleft {
  width: 50px;
  display: block;
  padding-right: 10px;
 }
.infobrano a {
  text-decoration: none;
 }
.infobrano a p {
  font-size: 9px;
  color: rgba(255, 255, 255, 0.4);
 }
.infobrano a h6 {
  font-size: 15px;
  color: white;
 }
.infobrano a p:hover {
  text-decoration: underline;
}
.infobrano a h6:hover {
  color: #1ED760;
}
.like {
  padding-left: 3px;
}
.like a {
  padding-right: 8px;
  color: white;
}
.like a:hover {
  color: #1ED760;
}
/* info */

/* barra */
.barra {
  display: flex;
  align-items: center;
  justify-content: center;
  width:  calc(100% / 3) ;
  padding-top: 15px;
}
.canzone{
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  width: 400px;
  margin: 0 10px;
  display: flex;
}
.white{
  border: 2px solid white;
  border-radius: 10px;
  width: 30%;
}
.canzone:hover .white{
  border: 2px solid #1ED760;
}
.barra span {
  color: white;
  font-size: 10px;
}
/* barra */

/* volume */
.volume {
  display: flex;
  align-items:center;
  justify-content: flex-end;
  width:  calc(100% / 3) ;
}
.barravolume{
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  width: 100px;
  margin: 0 5px;
  display: flex;
}
.opzioni {
  padding-left: 3px;
}
.opzioni a {
  display: inline-block;
  padding-right: 8px;
  color: white;
}
.opzioni a:hover {
  color: #1ED760;
}
.barravolume:hover .white{
  border: 2px solid #1ED760;
}
/* volume */

/* infobarraevolume */
/* footer */

/* media query*/
@media (max-width:768px ) {
  .nav-sinistra {
    width: 41px;
  }


  #logolg img {
  display: none;
  }
  #logoxs img {
  display: block;
  width: 35px;
  padding-left: 5px;
  }


  .nav1  {
    padding-top: 3px;
  }
  .nav1 a {
    display: none;
  }
  .nav1 .link {
    display: inline-block;
    padding-left: 5px;
  }
  .nav1:hover {
    border-left: none;
    background-color: rgba(30,215,96,0.6);
  }


  .nav2 {
    display: none;
  }


  .nav3 .installa a{
    display: none;
  }
  .nav3 {
  width: 41px;
  }
  .nav3 .installa {
    display: inline-block;
    width: 41px;
  }
  .nav3 .installa #install img{
    width: 40px;
    margin-left: -8px;
  }
  .installa:hover {
    background-color: rgba(30,215,96,0.6);
  }


  .nav3 .user {
    width: 41px;
  }
  .nav3 .user a{
    display: none;
  }
  .nav3 .user #us{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    padding: 0;
  }
  .nav3 .user #us img{
    border-radius: 0;
    padding: 0;
  }
  .user:hover {
    background-color: rgba(30,215,96,0.6);
  }


  hr {
    display: none;
  }


  .parteprinc {
    width: calc(100% - 41px);
  }
}
@media (max-width:457px ) {

  .copertina {
    min-width: 300px;
  }
  .copertina h4 {
    padding: 0;
  }
  .row .copertina span {
    padding-bottom: 20px;
  }
  .parteprinc p {
    padding-bottom: 20px;
  }

}
@media (max-width:400px ) {
  .info {
    display: none;
  }
  .volume {
    display: none;
  }
  .barra {
    width:  100% ;
    padding-top: 30px;
  }
  .barra span {
    margin: 0 2%;
  }
  .barra .white {
    margin: 0;
  }
}
@media (max-width:358px ) {
  .copertina {
    min-width: 100%;
  }
  .parteprinc h2 {
    font-size: 100%;
  }
  .parteprinc p {
    font-size: 100%;
  }
}
@media (max-width:258px ) {
  .upgrade a {
    font-size: 10px;
    padding: 5px 10px;
    margin-right: 20%
  }
}
@media (max-height:726px ) {
  .scrollplaylist ul {
    height: 180px;
    overflow-y: scroll;
  }
}
@media (max-height:604px ) {
  .nav3 {
    display: none;
  }
}
